<!DOCTYPE html>
<html lang="en">
  

<head>
  <meta charset="UTF-8">
  <title>Logistic Clustering</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css"></link>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>

</head>



<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom: 50px;">
        <a class="navbar-brand" href="#">Logistic clustering</a>
        <a class="btn btn-primary" href="/cluster" role="button">App</a>
        
            
    </nav>
        

    <div class="jumbotron jumbotron-fluid" >
      <h1 class="display-3" style="margin-left: 20px;">About our app</h1>
      <p class="lead" style="margin-left: 40px; margin-right: 40px; font-size: 150%;" align="justify">Routify is a data driven logistics solution that provides a simple yet powerfull way for users to decide on optimal solutions for logistic problems.</p>
      <p class="lead" style="margin-left: 40px; margin-right: 40px; font-size: 150%;" align="justify">Our Beta is based on clustering locations based on KMeans and optimal number of routes according to certain user inputs.</p>
      <p class="lead" style="margin-left: 40px; margin-right: 40px; font-size: 150%;" align="justify">Destinations: Number of packages to be delivered to different locations.</p>
      <p class="lead" style="margin-left: 40px; margin-right: 40px; font-size: 150%;" align="justify">Seed: Setting up the random state (this number sets a start point for random location selection).<a href="https://en.wikipedia.org/wiki/Random_seed#:~:text=A%20random%20seed%20(or%20seed,not%20need%20to%20be%20random.&text=When%20a%20secret%20encryption%20key,one%20to%20obtain%20the%20key">More info here</a></p>
      <p class="lead" style="margin-left: 40px; margin-right: 40px; font-size: 150%;" align="justify">Max cargo per vehicle: Vehicle cargo capacity in number of packages.</p>
      <p class="lead" style="margin-left: 40px; margin-right: 40px; font-size: 150%;" align="justify">Number of vehicles: Available fleet size.</p>
      <p class="lead" style="margin-left: 40px; margin-right: 40px; font-size: 150%;" align="justify">For this first MVP, Routify has a database with over a thousand dummy locations within Monterrey Metro Area. All of this locations come from a real world logistics company that sponsored our project with data.</p>
      <hr class="my-4">
      <p style="margin-right: 40px; margin-left: 40px; font-size: 150%;">Future updates will make this the 'go to' place for logistics operators.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/cluster" role="button" style="margin-left: 40px">Try it!</a>
      </p>
    </div>
                  
    <hr>

              
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
          
              

</body>
</html>
